// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 1000

.dm-sans-<uniquifier> {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

h1{
  font-family: "DM Sans", sans-serif;
}

*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --accent-color: #34495e;
  --bg_color: #ecf0f1;
  --main-font: "DM Sans", sans-serif;
  --sub-font: "arial", sans-serif;
  --g-ratio: 1.618;
}
