.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

h1{
font-family: "Crimson Text", serif;
}

*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --acccent-color: #34495e;
  --bg-color: #ecf0f1
  --main-font: :  "Crimson Text", serif;
  --sub-font: "Pacifico", cursive;
  --g-ratio: 1.618
} 
