body {
  font-family: "Roboto", sans-serif;
  background-color: #1d237266;
}

/* start nav bar css */
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #181e54;
  font-family: "Times New Roman", Times, serif;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #422078;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* end nav bar css */


#controls {
  display: inline-grid;
  grid-column-gap: 0;
  align-self: end;
  background: transparent;
  width: 50px;
  left: -40%;
  position: relative;
}

.movements_control {
  border: solid 1px black;
  margin: 0;
  padding: 0;
}

.movements_control img {
  width: inherit;
  height: inherit;
}

#keyboard_key_up {
  grid-column-start: 2;
  border-radius: 12px 12px 0px 0px;
  height: 50px;
  width: 50px;
  background: black;
}

#keyboard_key_left {
  grid-column-start: 1;
  border-radius: 12px 0px 0px 12px;
  height: 50px;
  width: 50px;
  background: black;
}

#keyboard_key_center {
  border-radius: 0px;
  height: 50px;
  width: 50px;
  background: black;
}

#keyboard_key_down {
  grid-column-start: 2;
  border-radius: 0px 0px 12px 12px;
  height: 50px;
  width: 50px;
  background: black;
}

#keyboard_key_right {
  grid-column-start: 3;
  grid-row: 2;
  border-radius: 0px 12px 12px 0px;
  height: 50px;
  width: 50px;
  background: black;
}

#keyboard_key_up:hover {
  grid-column-start: 2;
  border-radius: 12px 12px 0px 0px;
  height: 50px;
  width: 50px;
  background: black;
}

#keyboard_key_left:hover {
  grid-column-start: 1;
  border-radius: 12px 0px 0px 12px;
  height: 50px;
  width: 50px;
  background: black;
}

#keyboard_key_center:hover {
  border-radius: 0px;
  height: 50px;
  width: 50px;
  background: black;
}

#keyboard_key_down:hover {
  grid-column-start: 2;
  border-radius: 0px 0px 12px 12px;
  height: 50px;
  width: 50px;
  background: black;
}

#keyboard_key_right:hover {
  grid-column-start: 3;
  grid-row: 2;
  border-radius: 0px 12px 12px 0px;
  height: 50px;
  width: 50px;
  background: black;
}

.GameBoyCase {
  background-color: #f7f7f7;
  width: 40%;
  height: 100%;
  border-radius: 24px 24px 50px 12px;
  display: grid;
  padding: 10px;
  justify-content: center;
  justify-items: center;
}

.GameBoyScreen {
  height: 100%;
  padding: 10px;
  background-color: #6c6c9d;
}

div {
  width: 405px;
  height: 50px;
  background-color: blue;
  border-radius: 12px;
}

button {
  background-color: #9494ff;
  border: 0px;
  padding: 20px;
  margin: 5px;
  border-radius: 12px;
  transition: ease-in 0.1s;
}

button:hover {
  background-color: blue;
}

#container {
  width: 405px;
  height: 380px;
  background-color: green;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

#animate {
  width: 55px;
  height: 30px;
  background-color: yellow;
  position: absolute;
  border-radius: 12px;
  transition: transform 0.5s ease-in-out;
}
